doctype 5
html(lang="en")
  head
    title Download 8tracks Playlists
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(type="text/javascript", src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
    script(type="text/javascript", src="/js/main.js")

  body
    .container
        h1 Download 8tracks Playlists
        hr
        block content
        hr
        .text-muted
            &copy; &nbsp;
            a(href="http://twitter.com/jamiechung") Jamie Chung
